<a href="https://colab.research.google.com/github/SameerNadaf1/Python-code/blob/main/ch1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python code for Chapter-01

                Airthmatic Oprators

In [ ]:
x = 10
y = 2
print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

                  Complex number

In [ ]:
           x=2+3j
           print(x)
           y=4+5j
           print(y)
           print (x+y)
           print (x-y)
           print (x/y)

              Conjugate

In [ ]:
        z=2+3j
        y=z.conjugate()
        print(y);

      Multiple Variable

In [ ]:
x=y=z=1
print(x);
print(y);
print(z);

            Multiple Variable

In [ ]:
         x=y=z=200
         print (x)
         print (y)
         print (z)

Conditional satements if,else,if else.

           if,else

In [ ]:
var1=100
if var1:
    print("1- got a true expression values")
    print(var1)
else:
    print("1- got a false expression values")
    print(var1)

var2 = 0
if var2:
    print("2- got a true expression values")
    print(var2)
else:
    print("2- got a false expression values")
    print(var2)
    
print("Good Bye")

#if else 2
i = 20
if(i < 15):
    print("i is smaller than 15")
    print("i'm in if block")
else:
    print("i is greater than 15")
    print("i'm in else block")
print("i am not if and not in else block")

String Oprations

    String print by index

In [ ]:
str1 = 'Hello World'
str2 = "Python Programming"
print ("var1[0]: ",str1[0]);
print ("var2[1:5]: ",str2[1:5]);

var1 = 'Hello World'
print ("Updated String :- ", var1[:6] + 'Python')

string concat

In [ ]:
str1="hello"
str2="world"
str3=str1+str2
print(str3)

String Concat 2

In [ ]:
print("hello "+"world")
print("Nayak"+"."+"patil")

Sring New Line

In [ ]:
print("first message\n\n");
print("second message \n\n\n");

Input Types

 input type 1

In [ ]:
var = input("Please enter something: ")
print ("you entered", var)

input type 2

In [ ]:
name = input("What's your name? ")
print("Nice to meet you " + name + "!")
age = input("Your age? ")
print("So, you are already " + str(age) + 
" years old, " + name + "!")

  input type 3

In [ ]:
var1=int(input("Enter the first number"))
var2= int(input("Enter the second number"))
result= var1+var2
print("sum of two no.s is ",result,"\n")
result= var1*var2
print("Prod of two no.s is ",result,"\n")
result= var1-var2
print("Sub of two no.s is ",result,"\n")
result= var1/var2
print("Div of two no.s is ",result,"\n")
result= var1%var2
print("Mod of two no.s is ",result,"\n")
result= var1**var2
print("Pow of two no.s is ",result,"\n")

            Mathemathicel oprations

       math ceil

In [ ]:
import math   
print ("math.ceil(10.25) : ", math.ceil(10.25))
print ("math.ceil(2.95) : ", math.ceil(2.95))

           math

In [ ]:
import math   
print ("math.e : ", math.e)

        math fab

In [ ]:
import math   
print ("math.fabs(-10) : ", math.fabs(-10))
print ("math.fabs(-23) : ", math.fabs(-23))

          Factorial

In [ ]:
import math   
print("math.factorial(5) : ", math.factorial(5));
#print("math.factorial(8) : ", math.factorial(-8));

         math Floor

In [ ]:
import math   
print("math.floor(10.25) : ", math.floor(10.25))
print("math.floor(2.95) : ", math.floor(2.95))

             Fmod

In [ ]:
import math   
print ("math.fmod(2,3) : ", math.fmod(23.75,10))
print ("math.fmod(3,5) : ", math.fmod(38.275,9))

          Log function 1

In [ ]:
import math   
x=10.25
y=math.log10(x)
print("The Math Log10 value of x is",y)

         Log function 2

In [ ]:
import math   
x=10.25
y=math.log1p(x)
print("The Math Log1p value of x is",y)

         pie function

In [ ]:
import math   
print ("math.pi : ", math.pi)

            power function

In [ ]:
import math   
print ("math.pow(100, 2) : ", math.pow(100, 2))
print ("math.pow(100, -2) : ", math.pow(100, -2))

        Square Root function

In [ ]:
import math   
x=100
y=math.sqrt(x)
print("The Math squareroot value of x is",y)

Python code for List and Tuples

          Lists

In [ ]:
#Sample List
list1=[1,2,3,"abc","xyz"]
print (list1[0])
print (list1[3])

#sample list 2
list1=[1,2,3,"abc","xyz"]
print (list1[-1])
print (list1[-2])

#Maximum number
list1, list2 = [10, 20, 300],['aaa', 'abc','cde','zzz']
print ("Max of First list : ", max(list1))
print ("Max of Second list : ", max(list2))

#Minimum number
list1, list2 = [10, 20, 300], ['aaa', 'abc','cde','zzz']
print ("Min of First list : ", min(list1))
print ("Min of Second list : ", min(list2))

#List Pop Operation
List1 = [123, 200, 456, 500];
List1.pop(2)
print ("Updated List after pop 2 operation: ", List1)
List1.pop(0)
print ("Updated List after pop 0 operation: ", List1)

#List Reverce function
List1 = [123, 'aaa', 'bbb', 'ccc', 'ddd'];
List1.reverse();
print ("List reverse function: ", List1)

#List append 
List1 = [123, 'xyz', 456, 'abc'];
List1.append( 2017 );
print ("Updated List : ", List1)

#List index
List1 = [123, 200, 456, 500];
print ("Count of List1 for 123: ", List1.index(123))
print ("Count of List1 for 200: ", List1.index(200))
 
#List insert
List1 = [123, 200, 456, 500];
List1.insert(3,600)
print ("Updated List after insertion 600: ",List1)
List1.insert(1,1000)
print ("Updated List after insertion 1000: ",List1)

#List Length
list1, list2 = [10, 'xyz', 'abc'], [220, 'abc']
print ("Length of First list : ", len(list1))
print ("Length of Second list : ", len(list2))

#List Length
List1 = [123, 200, 456, 200];
print ("Count of List1 for 123: ", List1.count(123))
print ("Count of List1 for 200: ", List1.count(200))
listlength=len(List1)
print(listlength)

#Deletion of list
my_list = ['p','r','o','g','r','a','m','m','i','n','g']
3
# delete one item
del my_list[2]
print(my_list)
# delete multiple items
del my_list[1:5]
print(my_list)
# delete entire list
del my_list

           Tuples

In [ ]:
#Sample Tuple
tuple1=("first","second","third")
print (tuple1[0])
print (tuple1[1])
print (tuple1[2])

#Sample Tuple 2
tuple1=("first",123456,12.25,"###3%%%%")
print (tuple1[0])
print (tuple1[1])
print (tuple1[2])
print (tuple1[3])

tuple1=("first",123456,12.25,"###3%%%%")
print (tuple1)

#Tuple of type
my_tuple = ("hello",123,12.25)
print(type(my_tuple))
var_int=100
print(type(var_int))
var2=100.25
print(type(var2))
var3="hello world"
print(type(var3))

#Tuple Maximum no
print('Maximum is:', max(1, 3, 2, 5, 4))
num = [1, 3, 2, 8, 5, 10, 6]
print('Maximum is:', max(num))

#Tuple Length
testTuple1 = (1, 2, 3)
print(testTuple1, 'length is', len(testTuple1))
testTuple2 = ("abc", "xyz", "lmn")
print(testTuple2, 'length is', len(testTuple2))

# Vowels tuple index
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

index = vowels.index('e')

print('The index of e:', index)

index = vowels.index('i')

print('The index of i:', index)

# Count tuples of vowels
vowels = ('a', 'e', 'i', 'o', 'i', 'o', 'e', 'i', 'u')
count = vowels.count('i')
print('The count of i is:', count)
count = vowels.count('p')
print('The count of p is:', count)

#Minimum no of tuple
print('Minimum is:', min(1, 3, 2, 5, 4))
num = [3, 2, 8, 5, 10, 6]
print('Minimum is:', min(num))