<a href="https://colab.research.google.com/github/SameerNadaf1/Python-code/blob/main/Datacondition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

USN:01FE20MCA062,

NAME:SAMEER NADAF

Python code to demonstrate data type and conditional statements

Integer types

In [ ]:
a = 5
print("Type of a: ", type(a))


#another type
b=123
print("Type of a: ", type(b))

Long Integer

In [ ]:
a = 5322763676;
print("Type of a: ", type(a))

Float

In [ ]:
f=15.20
print("Type of a: ", type(f))
a=32.54e100
print("Type of a: ", type(f))

Boolean

In [ ]:
a=10
b=9
print(a > b)
print(a == b)
print(a < b)

Complex number

In [ ]:
x=2+3j
           print(x)
           y=4+5j
           print(y)
           print (x+y)
           print (x-y)
           print (x/y)

Conjugate Complexe

In [ ]:
z=2+3j
        y=z.conjugate()
        print(y);

      Multiple Variable

In [ ]:
x=y=z=1
print(x);
print(y);
print(z);

           Multiple Variable

In [ ]:
x=y=z=200
         print (x)
         print (y)
         print (z)

String Types

    String print by index

In [ ]:
str1 = 'Hello World'
str2 = "Python Programming"
print ("var1[0]: ",str1[0]);
print ("var2[1:5]: ",str2[1:5]);

var1 = 'Hello World'
print ("Updated String :- ", var1[:6] + 'Python')

      string concat

In [ ]:
str1="hello"
str2="world"
str3=str1+str2
print(str3)

    String concat

In [ ]:
print("hello "+"world")
print("Nayak"+"."+"patil")

       String newline

In [ ]:
  print("first message\n\n");
  print("second message \n\n\n");

Conditional Statements if,ifelse,nested if while

if statements

In [ ]:
num = 3
if num > 0:
    print(num, "is a positive number.")

if else

In [ ]:
  i = 20; 
if (i < 15): 
    print ("i is smaller than 15") 
    print ("i'm in if Block") 
else: 
    print ("i is greater than 15") 
    print ("i'm in else Block") 
print ("i'm not in if and not in else Block")

elif statements

In [ ]:
i = 20
if (i == 10): 
    print ("i is 10") 
elif (i == 15): 
    print ("i is 15") 
elif (i == 20): 
    print ("i is 20") 
else: 
    print ("i is not present")

    elif 2

In [ ]:
var = 100
if var == 200:
   print ("1 - Got a true expression value")
   print (var)
elif var == 150:
   print ("2 - Got a true expression value")
   print (var)
elif var == 100:
   print ("3 - Got a true expression value")
   print (var)
else:
   print ("4 - Got a false expression value")
   print (var)

print ("Good bye!")

nested if

In [ ]:
  num = 3.4
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

 while statements

In [ ]:
count = 0
while count < 50:
    print(count)
    count += 5

       while 2

In [ ]:
  count = 0
while count < 5:
    print(count)
    count += 1

  Forloop statements

In [ ]:
string = "Hello World"
for x in string:
    print (x)

        forloop 2

In [ ]:
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

           forloop 3

In [ ]:
for x in range(5):
    print(x)
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

Continue Statements

In [ ]:
var = 10                    
while var > 0:              
   var = var -1
   if var == 5:
      continue
   print 'Current variable value :', var
print "End of execution"

breake statements

In [ ]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break