<a href="https://colab.research.google.com/github/SameerNadaf1/Python-code/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

USN:01FE20MCAO62

NAME:SAMEER NADAF

Sample List

In [ ]:
list1=[1,2,3,"abc","xyz"]
print (list1[0])
print (list1[3])

sample list 2

In [ ]:
list1=[1,2,3,"abc","xyz"]
print (list1[-1])
print (list1[-2])

Maximum number

In [ ]:
list1, list2 = [10, 20, 300],['aaa', 'abc','cde','zzz']
print ("Max of First list : ", max(list1))
print ("Max of Second list : ", max(list2))

Minimum number

In [ ]:
list1, list2 = [10, 20, 300], ['aaa', 'abc','cde','zzz']
print ("Min of First list : ", min(list1))
print ("Min of Second list : ", min(list2))

List Pop Operation

In [ ]:
List1 = [123, 200, 456, 500];
List1.pop(2)
print ("Updated List after pop 2 operation: ", List1)
List1.pop(0)
print ("Updated List after pop 0 operation: ", List1)

List Reverce function

In [ ]:
List1 = [123, 'aaa', 'bbb', 'ccc', 'ddd'];
List1.reverse();
print ("List reverse function: ", List1)

List append

In [ ]:
List1 = [123, 'xyz', 456, 'abc'];
List1.append( 2017 );
print ("Updated List : ", List1)

List index

In [ ]:
List1 = [123, 200, 456, 500];
print ("Count of List1 for 123: ", List1.index(123))
print ("Count of List1 for 200: ", List1.index(200))

        List insert

In [ ]:
List1 = [123, 200, 456, 500];
List1.insert(3,600)
print ("Updated List after insertion 600: ",List1)
List1.insert(1,1000)
print ("Updated List after insertion 1000: ",List1)

List Length

In [ ]:
list1, list2 = [10, 'xyz', 'abc'], [220, 'abc']
print ("Length of First list : ", len(list1))
print ("Length of Second list : ", len(list2))

List Length

In [ ]:
List1 = [123, 200, 456, 200];
print ("Count of List1 for 123: ", List1.count(123))
print ("Count of List1 for 200: ", List1.count(200))
listlength=len(List1)
print(listlength)

Deletion of list

In [ ]:
my_list = ['p','r','o','g','r','a','m','m','i','n','g']

Delete one item

In [ ]:
del my_list[2]
print(my_list)

Delete multiple items

In [ ]:
del my_list[1:5]
print(my_list)

Delete entire list

In [ ]:
del my_list